body {margin:0;}

body {
  background-image: url("https://www.barraques.cat/pngfile/big/28-283253_majoras-mask-moon-majoras-mask-moon-background.jpg");
  background-repeat: repeat-y;
  backround-size: auto;
  /*This is the background image*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;"
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: gray;
}

.active {
  color: red;
  background-color: black;
  /* Everything above besides the background is for the Nav Bar*/
}

div.a {
  text-align: center;
  /*Puts everything in the center*/
}

h1 {
  margin-top: 50px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: hsla(0, 0%, 55%, 0.6);
  font-size: 5vw;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 3vw;
  background-color: hsla(0, 0%, 55%, 0.6);
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1vw;
  color: white;
  background-color: hsla(0, 0%, 55%, 0.6);
}

h5 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1vw;
  background-color: hsla(0, 0%, 55%, 0.6);
}
/*All styles of text is made to display a white color on a semi-transparent grey background for easier reading*/
